{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar</title>
</head>
<body>
    <div></div>
        <h1>{{message}}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="surname" placeholder="Name"> 
            <input type="email" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>
