{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="{% static 'img/logo_2.png' %}" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
        rel="stylesheet"
        type="text/css"
        charset="UTF-8"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />
    
    <title>RXMOTORS</title>
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link rel="stylesheet" href="{% static 'assets/main-aef791fb.css'%}" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="{% static 'assets/main-10125d7d.js'%}"></script>
    {% block content %}{% endblock content %} 
    {% block scripts%} {% endblock scripts%}
  </body>
</html>